@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan kelas Tailwind untuk animasi */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideInFromLeft {
    from { transform: translateX(-80px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }

  /* Animasi slide dari atas ke bawah */
  @keyframes slideInFromUp {
    from { transform: translateY(-80px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  /* Animasi slide dari bawah ke atas */
  @keyframes slideInFromDown {
    from { transform: translateY(80px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

  /* Animasi zoom out dari besar ke normal */
@keyframes zoomOut {
    from { transform: scale(1.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }
  
  /* Animasi zoom in dari kecil ke normal */
  @keyframes zoomIn {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }
  
  /* Kelas untuk animasi zoom out */
  .zoom-out-50 { 
    animation-name: zoomOut; 
  }
  
  /* Kelas untuk animasi zoom in */
  .zoom-in-50 { 
    animation-name: zoomIn; 
  }  
  
  /* Kelas untuk animasi slide dari atas */
  .slide-in-from-u-8 { 
    animation-name: slideInFromUp; 
  }
  
  /* Kelas untuk animasi slide dari bawah */
  .slide-in-from-d-8 { 
    animation-name: slideInFromDown; 
  }
  
  .animate-enter { animation-fill-mode: both; }
  .fade-in-10 { animation-name: fadeIn; }
  .slide-in-from-l-8 { animation-name: slideInFromLeft; }
  .animate-duration-500 { animation-duration: 0.5s; }
  .animate-duration-1000 { animation-duration: 1s; }
  .animate-duration-1500 { animation-duration: 1.5s; }
  .animate-duration-2000 { animation-duration: 2s; }
  
  /* Untuk leave animation */
  .animate-leave { animation-fill-mode: both; animation-direction: reverse; }
  .fade-out-0 { animation-name: fadeIn; }